* {
    position: absolute;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

.ad {
    width: __WIDTH__px;
    height: __HEIGHT__px;
    border: 1px solid #000;
    background-color: transparent;
    z-index: 10;
    cursor: pointer;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: __BG__;
}

__stylesMarkup__ .ad:hover .cta {
    animation: shake 150ms 2 linear;
    -moz-animation: shake 150ms 2 linear;
    -webkit-animation: shake 150ms 2 linear;
    -o-animation: shake 150ms 2 linear;
}
@keyframes shake {
    0 {
        transform: translate(3px, 0);
    }
    50% {
        transform: translate(-3px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
@-moz-keyframes shake {
    0 {
        -moz-transform: translate(3px, 0);
    }
    50% {
        -moz-transform: translate(-3px, 0);
    }
    100% {
        -moz-transform: translate(0, 0);
    }
}
@-webkit-keyframes shake {
    0 {
        -webkit-transform: translate(3px, 0);
    }
    50% {
        -webkit-transform: translate(-3px, 0);
    }
    100% {
        -webkit-transform: translate(0, 0);
    }
}
@-ms-keyframes shake {
    0 {
        -ms-transform: translate(3px, 0);
    }
    50% {
        -ms-transform: translate(-3px, 0);
    }
    100% {
        -ms-transform: translate(0, 0);
    }
}
@-o-keyframes shake {
    0 {
        -o-transform: translate(3px, 0);
    }
    50% {
        -o-transform: translate(-3px, 0);
    }
    100% {
        -o-transform: translate(0, 0);
    }
}
